# 1. Import the Required Libraries

In [1]:
import pandas as pd
import os

# 2. Set File Path

In [3]:
path = r'C:\Users\Jacques\OneDrive\Documents\Data Analytics course\Data Immersion\Section 4\08 April 2025 Instacart Basket Analysis'

# 3. Import the Datasets

In [5]:
# Import products.csv from the "Original Data" folder
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col=False)

# Import orders_wrangled.csv from the "Prepared Data" folder
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col=False)

# 4. Preview the DataFrames

In [7]:
print(df_prods.head())
print(df_ords.head())

   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id  prices
0             19     5.8
1             13     9.3
2              7     4.5
3              1    10.5
4             13     4.3
   Unnamed: 0  order_id  user_id  order_number  orders_day_of_week  \
0           0   2539329        1             1                   2
1           1   2398795        1             2                   3
2           2    473747        1             3                   3
3           3   2254736        1             4                   4
4           4    431534        1             5                   4

   order_hour  days_since_prior_order
0           8                     NaN
1           7                    15.0
2          12                    21.0
3           7                    29.0
4          15                    28.0

In [13]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

# 5. Create a dataframe

In [15]:
# Create a dataframe
df_test = pd.DataFrame()

# 6. Create a mixed type column

In [21]:
df_test['mix'] = ['a', 'b', 1, True]

In [23]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

# 7. Checking dataframe for mixed-type columns

In [28]:
for col in df_test.columns:
    col_types = df_test[col].map(type)  # Get the type of each value in the column
    first_type = type(df_test[col].iloc[0])  # Type of the first item (the expected type)
    
    weird = col_types != first_type  # Compare each type to the expected type
    
    if weird.any():  # If any value has a different type, print the column name
        print(col)

mix

In [32]:
# Converts all the values in the 'mix' column of the df_test DataFrame to strings (text data type).
df_test['mix'] = df_test['mix'].astype('str')

# 8. Finding missing values

In [39]:
df_prods.isnull().sum() # This code returns the total number of missing (null) values in each column of the df_prods DataFrame.

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [43]:
df_nan = df_prods[df_prods['product_name'].isnull() == True] 
# This code creates a new DataFrame df_nan containing only the rows from df_prods where the 'product_name' column has missing (null) values.

In [45]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [47]:
df_prods.shape
# Return the number of rows and columns in the data frame

(49693, 5)

In [49]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]
#  Creates a new DataFrame df_prods_clean that includes only the rows from df_prods where the 'product_name' column is not null

In [51]:
df_prods_clean.shape

(49677, 5)

# 9. Finding duplicate values

In [57]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]
# Looks for duplicates in the dataframe

In [59]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [67]:
df_prods_clean.shape
# Gives the number of rows and columns in the df_prods_clean dataframe

(49677, 5)

In [69]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()
# This code creates a new DataFrame df_prods_clean_no_dups by removing duplicate rows from the df_prods_clean DataFrame

In [71]:
df_prods_clean_no_dups.shape

(49672, 5)

In [75]:
# Exporting the cleaned DataFrame to a CSV file
df_prods_clean_no_dups.to_csv(r'C:\Users\Jacques\OneDrive\Documents\Data Analytics course\Data Immersion\Section 4\08 April 2025 Instacart Basket Analysis\02 Data\Prepared Data\products_checked.csv', index=False)

# ______________________________________________________________________________________________________________________________________________________

# Exercise 4.5

In [16]:
import pandas as pd
import os

# Set your path to the project folder
path = r'C:\Users\Jacques\Documents\08 April 2025 Instacart Basket Analysis'

# Import products.csv from Original Data
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col=False)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col=False)

# 1. Perform consistency checks on df_prods

In [19]:
# CHECK: Shape
df_prods.shape

# CHECK: Missing values
df_prods.isnull().sum()

# CHECK: Duplicates
df_prods[df_prods.duplicated()]

# CLEAN: Remove missing values in 'product_name'
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

# CLEAN: Remove duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

# FINAL SHAPE
df_prods_clean_no_dups.shape

(49672, 5)

# 2. Run df.describe() on df_ords

In [24]:
df_ords.describe()
# The code df_ords.describe() generates summary statistics (like count, mean, min, max, and percentiles) for all numeric columns in the df_ords DataFrame.

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

# 3. Check for mixed-type data in df_ords

In [27]:
for col in df_ords.columns:
    col_types = df_ords[col].map(type)
    first_type = type(df_ords[col].iloc[0])
    if (col_types != first_type).any():
        print(f"Mixed types in column: {col}")
# Checks for mixed-type column in df_ords

Mixed types in column: order_id
Mixed types in column: user_id
Mixed types in column: order_number
Mixed types in column: order_dow
Mixed types in column: order_hour_of_day
Mixed types in column: days_since_prior_order

# 4. Fix mixed-type data

In [30]:
df_ords['user_id'] = df_ords['user_id'].astype('str')
# Converted user_id to string format to resolve mixed-type values.

# 5. Check for missing values

In [33]:
df_ords.isnull().sum()
# Checks for missing values in columns in df_ords

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

# 6. Address missing values

In [38]:
df_ords['days_since_prior_order'] = df_ords['days_since_prior_order'].fillna(0)
# Fills missing values in days_since_prior_first_order with 0

# Chose to fill missing values in days_since_prior_order with 0, assuming these represent a user's first order. 
# This preserves the data without losing rows.

# 7. Check for duplicate values

In [43]:
df_ords[df_ords.duplicated()]
# This checks for duplicated values in the df_ords database

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

# Checked for fully duplicated rows in the df_ords DataFrame using df.duplicated(). 
# The result showed no duplicates, meaning every row is unique. No action was needed for this step.

# 8. Remove duplicates

In [47]:
df_ords_clean = df_ords.drop_duplicates()
# Removes any duplicates in the df_ords database

# Removed duplicates using drop_duplicates() to ensure that each order is represented only once in the dataset. 
# This helps avoid double-counting in future analysis.

# 9. Export final cleaned files

In [51]:
# Export cleaned products data
df_prods_clean_no_dups.to_csv(r'C:\Users\Jacques\Documents\08 April 2025 Instacart Basket Analysis\02 Data\Prepared Data\products_checked.csv', index=False)

# Export cleaned orders data
df_ords_clean.to_csv(r'C:\Users\Jacques\Documents\08 April 2025 Instacart Basket Analysis\02 Data\Prepared Data\orders_checked.csv', index=False)